*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
}

@font-face {
  font-display: swap;
  font-family: 'Ribeye';
  src: url('/assets/ribeye-v27-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  src: url('/assets/nunito-v32-latin-regular.woff2') format('woff2');
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #b0b7c3;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(170, 59, 255, 0.5);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border-bottom: 1px solid var(--border);
  -webkit-user-select: none;
  user-select: none;
  @media (max-width: 600px) {
    gap: 0px;
    padding: 15px 10px;
  }
}

.logo {
  letter-spacing: -1.68px;
  font-family: 'Ribeye', serif;
  color: var(--text-h);
  font-size: 30px;
  line-height: 1.0;
  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.flex-space {
  flex-grow: 1;
}

button {
  cursor: pointer;
}

header button {
  padding: 7px 17px;
  color: var(--accent);
}
.log-in-button {
  text-decoration: underline;
}
.create-account-button {
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-border);
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

h1 {
  font-size: 33px;
  font-weight: 700;
  color: var(--text-h);
}

.url-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.url-form > * {
  padding: 15px;
}

.url-input {
  border: 2px solid var(--accent-border);
}

.url-input:focus {
  outline: none;
  border-color: var(--accent);
}

::placeholder {
  color: var(--text);
}

.url-copy-btn {
  background-color: var(--accent);
  color: var(--bg);
}

.url-copy-btn:disabled {
  background-color: var(--accent-bg);
  color: inherit;
}