*, *::before, *::after, *::placeholder {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
}

@font-face {
  font-display: swap;
  font-family: 'Ribeye';
  src: url(/assets/ribeye-v27-latin-regular.woff2) format(woff2);
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  src: url(/assets/nunito-v32-latin-regular.woff2) format(woff2);
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #b0b7c3;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(170, 59, 255, 0.5);
  }
}

a {
  text-decoration: inherit;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
}

header {
  display: flex;
  align-items: center;
  padding: 15px clamp(10px, 2.5vw, 15px);
  gap: min(10px, 3vw - 15px);
  border-bottom: 1px solid var(--border);
  -webkit-user-select: none;
  user-select: none;
}

.logo {
  letter-spacing: -1.68px;
  font-family: 'Ribeye', serif;
  color: var(--text-h);
  font-size: clamp(20px, 8px + 3vw, 30px);
  line-height: 1.0;
}

.flex-space {
  flex-grow: 1;
}

button {
  cursor: pointer;
}
button:not(:disabled):active {
  opacity: 0.85;
}

.log-in-button, .create-account-btn {
  padding: 0.5rem clamp(8px, 3px + 2vw, 1.2rem);
  font-size: clamp(12px, 5px + 2vw, 1rem);
}
.log-in-button {
  text-decoration: underline;
  color: var(--accent);
}

.create-account-btn {
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-border);
  color: var(--accent);
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

h1 {
  font-size: 33px;
  font-weight: 700;
  color: var(--text-h);
}

input {
  border: 2px solid var(--accent-border);
  padding: 15px;
}

input:focus {
  outline: none;
  border-color: var(--accent);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.solid-btn {
  padding: 15px;
  background-color: var(--accent);
  color: var(--bg);
}